:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* overflow-x: hidden; */

  font-synthesis: none;
}

/* TO DO : FIX RESPONSIVE */
body {
  margin: 48px 0 0 0;
  margin-top: 44px 0 0 0;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}
section {
  display: flex;
  flex-wrap: wrap;
  max-width: 2560px;
  margin: 0;
  width: 100%;
}

@media (min-width: 2560px) {
  section {
    margin: 0 auto;
  }
}
